.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link {
  background: white;
  color: black;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  background: #f9f9f9;
  color: blue;
}

/* .navbar-light .navbar-nav .nav-item .nav-link a:visited {
  background: #f9f9f9;
  color: gray;
} */

/* .navbar-light .navbar-nav .nav-item .nav-link a:hover {
  background: #f9f9f9;
  color: black;
} */
.navbar-light .navbar-nav .nav-item .nav-link:active {
  background: #f9f9f9;
  /* color: black; */
  border-bottom: 1px solid black;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 720px) {
  .team-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
